<nav class="navbar navbar-expand">
    <a class="navbar-brand" style="color: #ADEFD1FF;" href="/"><strong> Movie Review Application</strong> </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
        aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" style="color: rgb(230, 11, 11);" href="/"><strong>Home</strong></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" style="color: rgb(230, 11, 11) ;" href="/data"><strong>Data</strong></a>
            </li>
        </ul>
    </div>
</nav>