{% extends 'layout.html' %}

{% block body %}
<style>
  body{
      text-align: center;
      font-family:"Comic Sans MS";
      background-color: darkgrey;
      background-image: url("/static/images/db_bg.jpeg");
      background-repeat: no-repeat; 
      background-size: cover;
  }
  #reviews {
      font-family: Lucida Console, Courier New;
      border-collapse: collapse;
      width: 100%;
  }
  #reviews td, #reviews th {
      border: 1px solid #ddd;
      padding: 8px;
  }
  #reviews tr:nth-child(even){background-color: #f2f2f2;}

  #reviews tr:hover {background-color: #ddd;}
</style>

<div class="jumbotron">
    <h1>Movie Reviews & Predictions</h1>
    <table id=reviews>
        <th>
            <tr>
                <td style="background-color:darkslategrey; color: white;">User Movie Review</td>
                <td style="background-color:darkslategrey; color: white;">Prediction</td>
                <td style="background-color:darkslategrey; color: white;">Feedback</td>
            </tr>
        </th>
        {% for item in data %}
        <tr>
           <td >{{item[0]}}</td>
            <td>{{item[1]}}</td>
            <td>{{item[2]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
  
{% endblock %}