{% extends 'layout.html' %}

{% block body %}
<style>
  body{
      font-family:"Comic Sans MS";
      color:#000000;
      text-align: center;
      background-image: url("/static/images/result_page.jpeg");
      background-repeat: no-repeat; 
      background-size: cover;
  }
  button{
      background-color: white;
      border-radius: 50%;
      color: rgb(170, 131, 57);
      font-weight: bold;
  }
</style>

<div >
    <form action="/" method="post">
        <br>

        <p style="color: rgb(252, 0, 210)">Your thoughts about movie are :<strong>{{data["pred"]}}</strong></p>
        <br><br>
        <form action="/">
        <label style="color: rgb(6, 61, 245)"for="yes_no_radio">Is our Intrepretation Correct?</label>
        <p style="color: rgb(73, 255, 1)">
        <input type="radio" name="yes">Yes</input>
        </p>
        <p style="color: rgb(255, 1, 1)">
        <input type="radio" name="no">No</input>
        </p>
        <textarea name="form_data" style="display: none;">{{data}}</textarea>
        <button type="submit">Submit</button>
    </form>
</div>
  
{% endblock %}